<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <ol class="breadcrumb">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Category title</a></li>
                <li class="active">Item</li>
            </ol>
    </div>

        <div class="col-md-6 col-sm-12">
            <button type="button"  class = "btn btn-default top-buffer pull-right btn-block">
                Find More
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sd-6 col-sm-6 col-xs-6">
            <img  class="hide-overflow" src="../images/01.jpg" />
            <div id="image-galery" class="row my-thumbnail">
                <a href="javascript:void(0)">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                    <img  src="../images/02.jpg" />
                    <img  src="../images/03.jpg" />
                    <img  src="../images/04.jpg" />

                <a href="javascript:void(0)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="top-buffer">
                <i class="glyphicon glyphicon-eye-open"></i><B>17 </B>Watchers
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sd-6 col-sm-6 col-xs-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sd-6 col-sm-6 col-xs-6 pull-left">
                     <h2><a href="javascript:void(0)">Item title</a></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <p> Seller: starmotors (135)</p>
                </div>
                <div class="col-lg-6">
                     <p> 100% Positive feedback</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sd-12 col-sm-12 col-xs-12">
                    Current Price <br/> <B><span class="glyphicon glyphicon-usd"></span> 1234 [5 bids]</B>
                    <br/><br/>
                    <B>Time left 6h</B><br/>Today 15:23
                </div>
                <div class="col-lg-6 col-md-6 col-sd-12 col-sm-12 col-xs-12">
                    <input type="text" class = "form-control" placeholder=""/>
                    <button type="button"  class = "btn btn-default top-buffer btn-block">
                       Place bid
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 top-buffer">
                    <p>Item's description: <br>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.</p>
                </div>
            </div>

        </div>

    </div>



</div>

</body>
</html>